// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .animation{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    -webkit-animation: lodanimetion 1500ms ease-out forwards infinite;
    animation: lodanimetion 1500ms ease-out forwards infinite;
  }
  @keyframes lodanimetion {
    from,to {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
  }